{% extends "base.html" %}
{% block head %}
    <link href="{{ url_for('static', filename='css/forum.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.2.89/css/materialdesignicons.min.css">
{% endblock %}
{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">討論區</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">討論區</li>
        </ol>
        {% for i in range(0, forum_data['count']) %}
            <div class="box forum">
                <article class="media">
                    <div class="media-content">
                        <div class="content list-forum">
                            <p class="text-content">
                                <a href="#">{{ forum_data['content'][i]['title'] }} 
                            <span class="solved" title="Solved">
                            <i class="mdi mdi-checkbox-marked-circle"></i>
                            </span>
                        </a>
                            </p>
                            <p class="tags-content">
                                <a class="tag is-rounded is-primary">{{ forum_data['content'][i]['user_email'] }}</a>
                                <a class="tag is-rounded is-success">{{ forum_data['content'][i]['user_name'] }}</a>
                                <a class="tag is-rounded is-warning">{{ forum_data['content'][i]['time'] }}</a>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}

        
    </div>
</main>

{% endblock %}

{% block script %}
    <!-- <script src="{{ url_for('static', filename='js/result.js') }}">
        function test() {
            console.log("log");
        }
    
    </script> -->
    <script src="{{ url_for('static', filename='js/forum.js') }}"></script>
{% endblock %}

