{% extends "base.html" %}

{% block content %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">首頁</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">若您使用行車記錄器，本網站可幫您判斷行車事故的嚴重性</li>
                <li class="breadcrumb-item active">此頁面僅用於學術目的。 不得用於商業用途，也不得將其用作與保險公司進行談判的證據。</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>最新消息</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <!-- <thead>
                                <tr>
                                    <th>video id</th>
                                    <th>file name</th>
                                    <th>user name</th>
                                    <th>upload time</th>
                                    <th>analysis status</th>
                                    <th>result</th>
                                </tr>
                            </thead>
                            
                            <tbody id="result_tbody">
                                
                            </tbody> -->
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

